<html>
<head>
<style>
.btn
{
  background-color: #2ecc71;
  width: 200px;
  height: 60px;
}


</style>
</head>

<body>
<div class="center">
  <h1>"Check your life and your boxes"</h1>
  <div class="btn"><%= link_to 'Create list', login_path %></div>
</div>
</body>

</html>