<h1>Users</h1>

<table border="1">
  <thead>
    <tr>
      <th><h2>Username</h2></th>
      <th><h2>Email</h2></th>

    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><h2><%= user.username%></h2></td>
        <td><h2><%= user.email %></h2></td>
      </tr>
    <% end %>
  </tbody>
</table>